/* General */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.heading2 {
    background-color: #FFF;
}

.myheading2, .heading2 h2,h3{
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    font-family: fantasy;
}

h3{
    font-size: 1.5em;
}

h4, .content4 h4 {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

.mainbody {
    background-color: #f3f2f2;
}

.header4 {
    font-size: 19px;
    margin: 20px 0 0 0;
    color: #696969;
}

.para {
    margin: 0;
    font-style: italic;
    color: #909090;
}


footer {
    max-height: 40px;
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.footernote {
    text-align: center;
    color: #888;
}

/* Excercise 1 : uneven photo montage */

.container1 {
    

    max-width: 800px;

    align-content: center;
    justify-content: center;
    margin: 0 auto;



    
    /* helps column wrap in height, not in width mind you.*/
    /*max-height: 34em;*/
    /*align-content: center;*/
    /*flex-wrap: wrap;*/
}

.row1, .row2,.row3, .row4, .row5 {
/*    border: 1px solid #dedede;
    padding: 2em;
    margin: .15em;
    font-size: 3em;
    text-align: center;
    background-size: 100% auto !important;
    border-radius: 5px;
    padding: 2em 2em;
    background-repeat: no repeat;*/
    
    display: flex;
    flex-flow: wrap row;

    /*width: 25%;*/
    
    /*
      Corrections in paddings shows how flexible the boxes get, once we play with 
      align-content or justify-content elements 
    */
}

.container1  .item{
    
/*width: 25%;*/
    height: 10em;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat !important;
}

.container1 .item:hover{
    /* To Change to Grayscale on hover */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.row1 .item:nth-child(1) {flex:2;  background-image: url(images/animals/image-1.jpg); order:2;}
.row1 .item:nth-child(2) {flex:1;  background-image: url(images/animals/image-2.jpg); order:3;}
.row1 .item:nth-child(3) {flex:1;  background-image: url(images/animals/image-3.jpg); order:5;}
.row1 .item:nth-child(4) {flex:3;  background-image: url(images/animals/image-4.jpg); order:4;}
.row1 .item:nth-child(5) {flex:2;  background-image: url(images/animals/image-5.jpg); order:1;}

.row2 .item:nth-child(1) {flex:2;  background-image: url(images/animals/image-6.jpg)}
.row2 .item:nth-child(2) {flex:1;  background-image: url(images/animals/image-7.jpg)}
.row2 .item:nth-child(3) {flex:2;  background-image: url(images/animals/image-8.jpg)}
.row2 .item:nth-child(4) {flex:2;  background-image: url(images/animals/image-9.jpg)}
.row2 .item:nth-child(5) {flex:3;  background-image: url(images/animals/image-10.jpg)}

.row3 .item:nth-child(1) {flex:2;  background-image: url(images/animals/image-11.jpg)}
.row3 .item:nth-child(2) {flex:1;  background-image: url(images/animals/image-12.jpg); order:5;}
.row3 .item:nth-child(3) {flex:2;  background-image: url(images/animals/image-13.jpg)}
.row3 .item:nth-child(4) {flex:1;  background-image: url(images/animals/image-14.jpg)}
.row3 .item:nth-child(5) {flex:3;  background-image: url(images/animals/image-15.jpg)}

.row4 .item:nth-child(1) {flex:1;  background-image: url(images/animals/image-16.jpg)}
.row4 .item:nth-child(2) {flex:1;  background-image: url(images/animals/image-17.jpg)}
.row4 .item:nth-child(3) {flex:3;  background-image: url(images/animals/image-18.jpg)}
.row4 .item:nth-child(4) {flex:2;  background-image: url(images/animals/image-19.jpg)}
.row4 .item:nth-child(5) {flex:3;  background-image: url(images/animals/image-20.jpg)}

.row2 .item:nth-child(3), .row3 .item:nth-child(1){
  /*background-position: top center;*/
}

@media screen and (max-width: 450px)  {
  .container1 .item{
    width: 100%;
    flex: 1 !important;
    flex-wrap: wrap;
  }

}


/* Navigation Bar */

.excNav {
    background: #495057;
}

.excNav ul {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-top: 0;
}
 
.excNav li {
  padding: 0.5em 1em;
  /*! margin: .3em; */
  list-style: none;
  border-right: 1px solid #403f3f;
}
.excNav li:first-child {
    border-left: 1px solid #403f3f;
}
.excNav li a{
  color: #cad7e4 !important;
  list-style: none;
  text-decoration: none;

  font-size: 17px;
  font-weight: 600;
}
.active {
    background-color: #413f3f;
}

.active a {
    color: #fff !important;
}

/* Excercise 2: mobile view */

.container2, .container3 {
  width: 100%;
  max-width: 340px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 1px 50px #505050;
}

.container2 .item{
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  width: 20em;
  margin-bottom: 10px;

padding: 10px;
}

.container2 .img1 { background-image: url(images/faces/image-1.png)}
.container2 .img2 { background-image: url(images/faces/image-2.png)}
.container2 .img3 { background-image: url(images/faces/image-3.png)}
.container2 .img4 { background-image: url(images/faces/image-4.png)}
.container2 .img5 { background-image: url(images/faces/image-5.png)}
.container2 .img6 { background-image: url(images/faces/image-6.png)}

.container2 .item_image{
  border-radius: 50%;
  border: 1px solid #bdbcbc;
  width: 40px;
  height: 10em;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat !important;
  height: 40px;
}

.item_content {
padding: 0px 20px;
}

.container2 .header4 {
   margin: 0;
   padding: 0;
   text-align: left;
}


/* third page */

.container3{
  padding: 0;
  min-height: 510px;
  max-width:350px;
  border-radius: 10px;
}

.item3 {
    display: flex;
    line-height: 3.5em;
    /*border: 1px solid #333;*/
}

.image3 {
    padding: 0 15px;
}

.item3:hover, .item_title:hover, .fas:hover, .activenow {
  background-color: #daccb8;
  color: #774a0a;
}

.item3:hover{
  background-color: #c0af97;
}

.imagesingle {
    text-align: center;
    padding-top: 10px;
    background-color: #e1eade;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.imagesingle img {
    border-radius: 50%;
    width: 75px;
    padding: 4px;
}

.imageh4 {
    margin: 5px 0 20px 0;
    color: #2d2d2d;
}

/* content slider */

.container4 {
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 1px 1px 50px #333;
}

.container4 .content4 {
    place-self: center start;
}

.content4 h4 {
    text-align: left;
}

.contImg{
  width: 280px;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.contImg.img1 { background-image: url(images/container.png) }
.contImg.img2 { background-image: url(images/items.png) }
.contImg.img3 { background-image: url(images/lines.png) }
.contImg.img4 { background-image: url(images/cells.png) }
.contImg.img5 { background-image: url(images/areas.png) }
.contImg.img6 { background-image: url(images/tracks.png) }

.box {
    display: grid;
    grid-template-columns: 480px 280px;
    grid-template-rows: 280px;
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 10px;
    background-color: #f9f9f9;
}

.box:nth-child(even) {background: #f9f9f9}
.box:nth-child(odd) {background: #f3f3f3;}

.more p, .more a {
    color: #555;
}
.more p {
    margin: 10px 5%;
}

@media screen and (max-width: 450px)  {

  .container4 {
      max-width: 400px;
      margin: 20px auto;
  }
  .box {
    grid-template-columns: 360px;
    grid-template-rows: 130px 269px;

  }

  .container4 .content4 {
    place-self: center;
}

.content4 h4 {
    text-align: center;
}
}


























