/* General */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading2 {
    background-color: #FFF;
}

.myheading2, .heading2 h2,h3{
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-family: fantasy;
}

h3{
    font-size: 1.5em;
}

.mainbody {
    background-color: #f3f2f2;
}

.header4 {
    font-size: 19px;
    margin: 20px 0 0 0;
    color: #696969;
}

.para {
    margin: 0;
    font-style: italic;
    color: #909090;
}


footer {
    max-height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.footernote {
    text-align: center;
    color: #888;
}

/* Excercise 1 : uneven photo montage */

.container1 {
    display: flex;
    flex-flow : wrap column;
    /*shoerhand for 
      flex-wrap: wrap;
      flex-direction: column;
    */
    /* helps column wrap in height, not in width mind you.*/
    max-height: 34em;
    align-content: center;
}

.container1 > .item {
    border: 1px solid #dedede;
    padding: 2em;
    margin: .15em;
    font-size: 3em;
    text-align: center;
    background-size: 100% auto !important;

    border-radius: 5px;
    /*! box-shadow: blanchedalmond; */
    /*box-shadow: 1px 1px 1px 1px #dedede;*/

/*
Corrections in paddings shows how flexible the boxes get, once we play with 
align-content or justify-content elements 
*/
}

.container1 .item.{
  padding: 2em 2em;
  background-repeat: no repeat;
}

.container1 .item.item-1 {
  background: url(images/image-1.png);
  order: 6;

}
.container1 .item.item-2 {
    background: url(images/image-2.png);
    order: 3;
}
.container1 .item.item-3 {
    background: url(images/image-3.png);
    order: 5;
}
.container1 .item.item-4 {
    background: url(images/image-4.png);
    order: 2;
}
.container1 .item.item-5 {
    background: url(images/image-5.png);
    order: 1;
}

.container1 .item.item-6 {
    background: url(images/image-6.png);
    order: 4;
}

/* Navigation Bar */

.excNav {
    background: #495057;
}

.excNav ul {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-top: 0;
}
 
.excNav li {
  padding: 0.5em 1em;
  /*! margin: .3em; */
  list-style: none;
  border-right: 1px solid #403f3f;
}
.excNav li:first-child {
    border-left: 1px solid #403f3f;
}
.excNav li a{
  color: #cad7e4 !important;
  list-style: none;
  text-decoration: none;

  font-size: 17px;
  font-weight: 600;
}
.active {
    background-color: #413f3f;
}

.active a {
    color: #fff !important;
}

/* Excercise 2: mobile view */

.container2, .container3 {
  width: 100%;
  max-width: 412px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.container2 .item{
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  width: 25em;
  margin: 5px;
}

.item .item_image{
  flex-shrink: 0;
  margin: 0.5em 1em;
}

.item .item_image img{
  border-radius: 50%;
  width: 55px;
  border: 1px solid #bdbcbc;
  padding: 3px;
}

.item_content {
  flex-grow: 1;
  padding: 0 1em;
}


/* third page */

.container3{
  padding: 0;
  min-height: 510px;
  max-width:350px;
  border-radius: 10px;
}

.item3 {
    display: flex;
    line-height: 3.5em;
    /*border: 1px solid #333;*/
}

.image3 {
    flex-shrink: 0;
    padding: 0 15px;
}

.item3:hover, .item_title:hover, .fas:hover, .activenow {
    background-color: #b3b3e7;
    color: #3e49b9;
}

.imagesingle {
    text-align: center;
    padding-top: 10px;
    background-color: #c9c0c0;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.imagesingle img {
    border-radius: 50%;
    width: 75px;
    padding: 4px;
}

.imageh4 {
    margin: 5px 0 20px 0;
    color: #2d2d2d;
}



































